/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2013/11/07, 11:10:23
    Author     : 1231114
*/
@charset "utf-8";

html {
        font-family : verdana, sans-serif;
        font-size : 100%;
        line-height : 1.5;
        background : #ffffff;
	height: 100%;
	margin: 0 auto;
	display: table;
        overflow-x : hidden;
        overflow-y : auto;
}

body {
        background-color: #ffffff;
        width: 100%;
	min-height: 100%;
	margin: 0 auto 0 auto;
	padding: 0;
	vertical-align: middle;
}

header{
        margin: 0 auto 0 auto;
        font-size: 80px;
}

#contents {
        width: 100%;
        margin: 0 auto;
        vertical-align: middle;
}

.menuBtn{
        margin: 5px;
        font-size:20px;
        width:300px;
        height:80px;
}
