/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2013/11/05, 14:45:05
    Author     : 1231114
*/
@charset "utf-8";
*{ margin: 0;padding: 0}
html {
        font-family : verdana, sans-serif;
        font-size : 100%;
        line-height : 1.5;
        background : #ffffff;
	height: 100%;
	margin: 0 auto;
	display: table;
        overflow-x : hidden;
        overflow-y : auto;
}

body {
        background-color: #ffffff;
        width: 100%;
	min-height: 100%;
	margin: 0 auto;
	padding: 0;
	display: table-cell;
	vertical-align: middle;
}
header{
        font-size: 25px;
}
form{
        
}
input{
    width: 300px;
    height: 25px;
    font-size: 20px;
}
input:focus{
    background-color: #dcdcdc;
}

.menuBtn{
    font-size:20px;
    width:100px;
    height:30px;
}

td{
    border-style: none;
    padding: 3px;
    white-space: nowrap;
}

.title{
    text-align: left;
    font-size: 20px;
}
#content {
        width: 100%;
        margin: 0 auto;
        vertical-align: middle;
}

/*768px*/
@media screen and (min-width : 1024px){
    header{
        font-size: 35px;
    }
    td{
        padding-left: 10px;
        padding-right: 10px;
    }
    input{
        width: 300px;
        height: 30px;
        font-size: 15px;
    }
    .title{
        font-size: 25px;
    }
    .menuBtn{
        margin: 5px;
        font-size:20px;
        width:150px;
        height:50px;
    }
}


